.navbar__container {
  width: calc(100% - 25%);
  padding-left: 12.5%;
  padding-right: 12.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: white;
}

.navbar__image {
  object-fit: contain;
  width: 10%;
}

.navbar__right-wrapper {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.navbar__right-wrapper span {
  color: #626262;
  font-family: Arvo, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.navbar__right-wrapper span:hover {
  color: #51a3ec;
  cursor: pointer;
}
