.firstSection__container {
  width: calc(100% - 25%);
  padding-left: 12.5%;
  padding-right: 12.5%;
  background: linear-gradient(90deg, #87cdce 0%, #fbfdfd 100%);
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.firstSection__container p {
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  max-width: 40%;
  line-height: 28px;
}
